.header {
    height: var(--header-bar-heigth);
    background: lightgray;
    position: fixed;
    top: 0;
    display: inline-flex;
    width: 100vw;
}

@media (prefers-color-scheme: dark) {
    .header {
        background: #3d3d3d;
    }
}
