.page {
    display: flex;
    justify-content: center;
    align-items: center;
}

.passkey_list_item {
    margin-top: 16px;
}

.titre_passkey_grid {
    display: grid;
    grid-template-columns: auto 60px;
}

.titre_passkey {
    padding-right: 12px;
    max-width: auto;
    text-overflow: ellipsis;
    overflow: hidden;
}

.details_passkey_grid {
	color: hsl(var(--muted-foreground));
}

.bouton_supprimer {
    font-size: 12px;
    width: 32px !important;
    height: 32px !important;
}
